/* =Body
-------------------------------------------------- */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1 {
  font-size: 3em;
  margin-bottom: 0;
}

h2 {
  font-family: 'FontAwesome', sans-serif;
  font-size: 1.5em;
  margin: .5em 0;
}

/* =Container
-------------------------------------------------- */
.container {
  background: pink; /* Testing */
  margin: 0 auto;
  max-width: 48em;
  width: 90%;
}

.center {
  text-align: center;
}

.clear {
  clear: both;
}


/* =Board
-------------------------------------------------- */
.board {
  display: inline-block;
  margin-bottom: 2em;
}

.tile {
  background: #eee;
  border-radius: .25em;
  box-shadow: 0 .4em rgba(0, 0, 0, .9);
  cursor: pointer;
  float: left;
  height: 6.25em;
  margin: .25em .25em .6em;
  position: relative;
  width: 6.25em;
}

.tile:active {
  top: .1em;
  box-shadow: 0 .3em rgba(0, 0, 0, .9);
}

.button {
  background: #eee;
  border: 0;
  border-radius: .25em;
  box-shadow: 0 .25em rgba(0, 0, 0, .9);
  margin: 0 .5em;
  padding: .25em 1em;
  position: relative;
}

.button:active {
  top: .05em;
  box-shadow: 0 .2em rgba(0, 0, 0, .9);
}

.button:focus {
  outline: none;
}


/* =Key
-------------------------------------------------- */
.fa {
  height: auto;
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 50%;
}

.x {
  background: crimson;
}

.o {
  background: cornsilk;
}

.fa-times {
  font-size: 3em;
}

.fa-circle {
  font-size: 2.6em;
}

/*.fa-heart {
  font-size: 2.25em;
}*/