/* =Body
-------------------------------------------------- */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 1em;
}

h1 {
  font-size: 3em;
  margin-bottom: 0;
}

h2 {
  font-size: 1.5em;
  margin: .5em 0;
}

h2 span {
  cursor: pointer;
}


/* =Container
-------------------------------------------------- */
.container {
  background: #fff; /* Color for Testing */
  margin: 0 auto;
  max-width: 48em;
  text-align: center;
  width: 90%;
}

.clear {
  clear: both;
}


/* =Status
-------------------------------------------------- */
.status {
  margin: 0 auto;
  position: relative; 
  width: 18em;
}

.status .fa, .status h2 {
  display: inline-block;
  padding: 0;
}

.status .fa {
  position: absolute; /* Note: Positioning off in Firefox / Safari */
}

.status .fa-times {
  font-size: 1.75em;
  top: .4em;
  left: 1.75em;
}

.status .fa-circle {
  font-size: 1.55em;
  top: .55em;
  left: 1.95em;
}


/* =Board
-------------------------------------------------- */
.board {
  display: inline-block;
  margin-bottom: 1em;
}

.tile {
  background: #d3d3d3;
  border-radius: .25em;
  box-shadow: 0 .4em rgba(0, 0, 0, .8);
  cursor: pointer;
  float: left;
  height: 6.25em;
  margin: .25em .25em .6em;
  position: relative;
  -webkit-transition: width .3s;
  -moz-transition: width .3s;
  -o-transition: width .3s;
  transition: width .3s;
  width: 6.25em;
}

.tile:active {
  top: .1em;
  box-shadow: 0 .3em rgba(0, 0, 0, .8);
}

.tile .fa {
  height: auto;
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  width: 50%;
}

.tile .fa-times {
  font-size: 3em;
}

.tile .fa-circle {
  font-size: 2.6em;
}

.x {
  background: #dc143c;
}

.o {
  background: #40e0d0;
}


/* =Buttons
-------------------------------------------------- */
.button {
  background: #d3d3d3;
  border: 0;
  border-radius: .25em;
  box-shadow: 0 .25em rgba(0, 0, 0, .8);
  font-family: 'FontAwesome', sans-serif;
  height: 2em;
  margin: 0 .25em;
  padding: .25em 1em .15em;
  position: relative;
}

.button:active {
  top: .05em;
  box-shadow: 0 .2em rgba(0, 0, 0, .8);
}

.button:focus {
  outline: none;
}


/* =Media Queries
-------------------------------------------------- */
@media only screen and (max-width: 40em) {
  .tile-exp {
    font-size: .85em;
  }
}

@media only screen and (max-width: 36em) {
  .tile-hd {
    font-size: .75em;
  }
  
  .tile-exp {
    font-size: .65em;
  }
}