/* =Body
-------------------------------------------------- */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #fffef3;
  font-size: 1em;
}

h1 {
  font-size: 3em;
  margin-bottom: 0;
}

h2 {
  font-size: 1.5em;
  margin: .5em 0;
}

h2 span {
  cursor: pointer;
}


/* =Container
-------------------------------------------------- */
.container {
  background: #fffef3;
  margin: 0 auto;
  max-width: 48em;
  text-align: center;
  width: 90%;
}

.clear {
  clear: both;
}


/* =Status
-------------------------------------------------- */
.status {
  margin: 0 auto;
  position: relative; 
  width: 18em;
}

.status .fa, .status h2 {
  display: inline-block;
  padding: 0;
}

.status .fa {
  position: absolute; /* Note: Positioning off in Firefox / Safari */
}

.status .fa-times {
  font-size: 1.75em;
  left: 1.75em;
  top: .4em;
}

.status .fa-circle {
  font-size: 1.55em;
  left: 1.95em;
  top: .55em;
}


/* =Board
-------------------------------------------------- */
.board {
  background: rgba(0, 0, 0, .25);
  border-radius: .25em;
  box-shadow: 0 .5em rgba(0, 0, 0, .75);
  display: inline-block;
  margin-bottom: 1.5em;
  padding-bottom: .25em;
}

.tile {
  background: rgba(255, 255, 255, .65);
  border-radius: .25em;
  box-shadow: 0 .4em rgba(0, 0, 0, .65);
  cursor: pointer;
  float: left;
  height: 6.25em;
  margin: .25em .25em .6em;
  position: relative;
  -webkit-transition: width .3s;
  -moz-transition: width .3s;
  -o-transition: width .3s;
  transition: width .3s;
  width: 6.25em;
}

.tile:active {
  box-shadow: 0 .25em rgba(0, 0, 0, .65);
  top: .15em;
}

.tile .fa {
  height: auto;
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s;
  width: 50%;
}

.tile .fa-times {
  font-size: 3em;
}

.tile .fa-circle {
  font-size: 2.6em;
}

.x {
  background: #dc143c;
}

.o {
  background: #40e0d0;
}


/* =Buttons
-------------------------------------------------- */
.button {
  background: rgba(0, 0, 0, .25);
  border: 0;
  border-radius: .25em;
  box-shadow: 0 .4em rgba(0, 0, 0, .75);
  color: rgba(0, 0, 0, .75);
  font-family: 'FontAwesome', sans-serif;
  height: 2em;
  margin: 0 .25em;
  padding: .25em 1em .15em;
  position: relative;
}

.button.repeat {
  padding: .25em 1em .05em;
  top: .1em;
}

.button:active {
  top: .15em;
  box-shadow: 0 .25em rgba(0, 0, 0, .75);
}

.button:focus {
  outline: none;
}


/* =Modal Window
-------------------------------------------------- */
.md-window {
  height: auto;
  left: 50%;
  max-width: 24em;
  min-width: 17em;
  position: fixed;
  top: 30%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 50%;
  z-index: 2000;
}

.md-content {
  background: rgba(0, 0, 0, .25);
  border-radius: .25em;
  box-shadow: 0 .5em rgba(0, 0, 0, .75);
  margin: 0 auto;
  padding: 1.5em;
  position: relative;
}

.md-content .tile {
  display: inline-block;
  float: none;
  margin: 0 .5em;
}

.md-overlay {
  background: #fffef3;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}


/* =Media Queries
-------------------------------------------------- */
@media only screen and (max-width: 40em) {
  .tile-exp {
    font-size: .85em;
  }
}

@media only screen and (max-width: 36em) {
  .tile {
    font-size: .9em;
  }

  .tile-hd {
    font-size: .675em;
  }
  
  .tile-exp {
    font-size: .525em;
  }

  .button {
    font-size: .95em;
  }
}