<!doctype html>
<html lang="en" ng-app="T3App">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Angular T3</title>
    <meta name="description" content="TicTacToe Angular">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/normalize.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
    <script src="js/app.js"></script>
  </head>
  <body ng-controller="T3Controller">

    <section class="container center">

      <h1>Angular T3</h1>

      <!-- Status -->
      <section class="status">
        <i ng-if="gameInit" ng-class="{fa:true, 'fa-times':playerActive == 1, 'fa-circle':playerActive == 2}"></i>
        <h2 ng-bind="boardStatus"></h2>
      </section>

      <!-- Board -->
      <div class="board">
        <!-- Tiles -->
        <div ng-class="{tile:true, clear:tile.clear, x:tile.playerOne, o:tile.playerTwo}" ng-repeat="tile in board" ng-click="!boardActive || tileClick(tile)">
          <!-- Icons -->
          <!-- {{tile.index}} -->
          <i ng-class="{fa:true, 'fa-times':tile.playerOne, 'fa-circle':tile.playerTwo}"></i>
        </div>
      </div>

      <div class="clear"></div>

      <button class="button" ng-click="boardNew(lvlNorm)">Normal</button>
      <button class="button" ng-click="boardNew(lvlHard)">Hard</button>
      <button class="button" ng-click="boardNew(lvlExp)">Exp</button>
      <button class="button restart" ng-click="boardNew(level)">&#xf021;</button>

        <br>
        <br>

      <p>Lorem ipsum</p>

        <br>

    </section>

  </body>
</html>