<!doctype html>
<html lang="en" ng-app="T3App">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Angular T3</title>
    <meta name="description" content="Tic Tac Toe Angular">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/normalize.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
    <script src="js/app.js"></script>
  </head>
  <body ng-controller="T3Controller">

    <div class="container center">

      <h1>Angular T3</h1>

      <!-- Board -->
      <div class="board" ng-repeat="rows in board">
        <div ng-class="{tile: true, times: tile.iconTimes, circle: tile.iconCircle, heart: tile.iconHeart}" ng-repeat="tile in rows" ng-click="tileIcon(tile)">
          <div class="icon">
            {{tile.key}}
              <br>
            <i class="fa fa-{{ tile.icon }}"></i>
              <br>
            {{tile.icon}}
          </div>
        </div>
      </div> <!-- end board -->

        <br>
        <br>

      <!-- Test X Board -->
      <div class="board" ng-repeat="rows in playerX">
        <div ng-class="{tile: true}" ng-repeat="tile in rows">
          <div class="icon">
            <i class="fa fa-{{tile.icon}}"></i>
              <br>
            {{tile.icon}}
          </div>
        </div>
      </div> <!-- end board -->

    </div> <!-- end container -->

  </body>
</html>