<!doctype html>
<html lang="en" data-ng-app="T3App">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Angular T3</title>
    <meta name="description" content="TicTacToe Angular">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/normalize.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script>
    <script src="https://cdn.firebase.com/js/client/1.0.18/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/0.7.1/angularfire.min.js"></script>
    <script src="js/app.js"></script>
  </head>
  <body data-ng-controller="T3Controller" data-ng-model="board">

    <section class="container">

      <h1>Angular T3</h1>

      <!-- Status -->
      <section class="status">
        <i data-ng-if="gameInit" data-ng-class="{fa:true, 'fa-times':playerActive == 1, 'fa-circle':playerActive == 2}"></i>
        <h2 data-ng-bind="boardStatus"></h2>
      </section>

      <!-- Board -->
      <div class="board">
        <!-- Tiles -->
        <div data-ng-class="{tile:true, 'tile-hd':level == 4, 'tile-exp':level == 5, clear:tile.wallL, x:tile.playerOne, o:tile.playerTwo}" data-ng-repeat="tile in board | orderByPriority" data-ng-click="!boardActive || tileClick(tile)">
          <!-- Player -->
          <i data-ng-class="{fa:true, 'fa-times':tile.playerOne, 'fa-circle':tile.playerTwo}"></i>
        </div>
      </div>

      <div class="clear"></div>

      <button class="button" data-ng-click="boardNew(lvlNorm)">Normal</button>
      <button class="button" data-ng-click="boardNew(lvlHard)">Hard</button>
      <button class="button" data-ng-click="boardNew(lvlExp)">Exp</button>
      <button class="button repeat" data-ng-click="boardNew(level)">&#xf01e;</button>

      <button class="button" data-ng-click="playerSet()">JOIN</button>

        <br>
        <br>

      <p>Lorem ipsum</p>

        <br>

    </section>

  </body>
</html>